.nav-normal {
    line-height: 60px;
    border-bottom: 1px solid #e2e2e2;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #ff661b !important;
}

.nav-list li {
    float: left;
    margin-left: 20px;
}